@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

body {
    height: 100vh;
    background: linear-gradient(to right,
            #f2e7c4 0%,
            #f2e7c4 20%,
            #b48250 80%,
            #b48250 100%);
}

.navbar {
    width: 100%;
    position: fixed;
    height: 100px;
}

.navbar-brand {
    padding-right: 100px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    padding: 0px 50px 0px 0px;
}

.navbar .buttn {
    margin-top: 5px;
    background-color: rgb(71, 144, 189);
    height: 35px;
    padding: 2px 10px;
}

.nav-link {
    color: black;
    margin-right: 10px;
    font-weight: 400;
    position: relative;
    padding: 10px 0 0 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    top: 29px;
    /* bottom: 0; */
    left: 0;
    height: 2px;
    width: 0;
    border-bottom: 2px solid;
    transition: 1s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}

.navbar span {
    font-size: 30px;
}

.nav-item {
    font-size: 13px;
    font-family: "Roboto Mono", monospace;
}

.fa-cart-shopping {
    color: #f2e7c498;
    font-size: 20px;
    padding-right: 10px;
    text-align: center;
}

.search-bar {
    width: 30%;
    max-width: 700px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 60px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.search-bar button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.search-bar button span {
    width: 25px;
    color: #f2e7c498;
    font-size: 16px;
    padding-right: 7px;
}