@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


body {
    background: linear-gradient(to right,
            #f2e7c4 0%,
            #f2e7c4 20%,
            #b48250 80%,
            #b48250 100%);
    font-family: 'Tajawal', sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px; */
}

.container .row {
    overflow: hidden;
}

ul {
    list-style-type: none;
    color: #f2e7c4 !important;
}

p {
    font-family: 'Tajawal', sans-serif;
}

a,
i {
    cursor: pointer;
    text-decoration: none;
    color: #f2e7c4;
}

.items .fa-regular {
    position: absolute;
    top: 2%;
    right: 20px;
    font-size: 20px;
}

.items:hover {
    border: 1px solid #777;
    border-radius: 10px;
    /* padding: 10px; */
    background-color: #b482505c;
}

.first-img {
    position: relative;
}

.second-img {
    position: absolute;
    width: 50px;
    height: 50px !important;
    top: 0px;
    left: 59px;
    opacity: 0;
}

.items:hover .second-img {
    top: 15%;
    left: 30%;
    width: 150px;
    height: 150px !important;
    opacity: .9;
}

.items .fa-heart:hover {
    color: red !important;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-align: start !important;
    text-decoration: underline;
}

h5 {
    font-family: 'Acme', sans-serif;
}

/* 
.wisdom {
    height: 20vh;
    background-image: url("../imgs/proj/scaled.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 10px;
    background-position: 0 - 10px;
    margin-bottom: 50px;
}

.wisdom2 {
    height: 20vh;
    background-image: url("../imgs/proj/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 10px;
    background-position: 0 - 10px;
    margin-bottom: 50px;
}


.wisdom3 {
    height: 20vh;
    background-image: url("../imgs/proj/flower.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 10px;
    background-position: 0 - 10px;
    margin-bottom: 50px;

} */

/* start navbar */

.navbar {
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 9999;
}


.navbar-brand {
    padding-right: 100px;
    font-weight: 700;
    font-family: "Playfair Display", serif !important;
    font-size: 30px;
    padding: 0px 50px 0px 0px;
}

.nav-link {
    color: black;
    margin-right: 10px;
    position: relative;
    padding: 10px 0 0 0;
    font-weight: 700;
    font-family: "Playfair Display", serif !important;
}

.nav-link::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 0;
    height: 2px;
    width: 0;
    border-bottom: 2px solid;
    transition: 1s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}

.navbar span {
    font-size: 30px;
}

.bgColor {
    background-color: #b48250;
    color: #000;
    border-bottom: 1px solid #302f2f;
    transition: all .5s;
}

.nav-item {
    font-size: 13px;
    font-family: "Roboto Mono", monospace;
}

.fa-cart-shopping {
    font-size: 20px;
    padding-right: 10px;
    text-align: center;
}

.search-bar {
    width: 30%;
    max-width: 700px;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 60px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.search-bar button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.search-bar button span {
    width: 25px;
    color: #f2e7c498;
    font-size: 16px;
    padding-right: 7px;
}

/* end navbar */


/* start header */
header .container {
    overflow: hidden;
}

.heading-content {
    padding-top: 105px;
}

header .header-text h1 {
    font-family: "Playfair Display", serif !important;
    font-size: 70px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px #00000011;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -750px 0;
    animation: typing 5s linear infinite alternate;
}

@keyframes typing {
    100% {
        background-position: 0 0;
    }
}

header .header-text p {
    width: 75%;
    font-weight: 500;
}

.header-img {
    width: 70%;
    border-radius: 10px;
    background-color: #f2e7c4ae;
}

@media screen and (max-width:992px) {
    .header-img h2 {
        font-size: 20px;
    }

    .header-img p {
        font-size: 16px;
    }

    header .header-text h1 {
        font-size: 16px;
    }

    header .header-text p {
        width: 100%;
        font-weight: normal;
        font-size: 16px;
    }
}

.header-img img {
    width: 90%;
}

.header-img h2,
.header-img i {
    margin-top: 10px;
    font-size: 25px !important;
    font-weight: 600 !important;
    align-items: start;
    cursor: auto;
}

@media screen and (max-width: 960px) and (min-width:576px) {
    header .header-text h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 576px) {
    header .header-text h1 {
        font-size: 48px;
    }

    header .header-text {
        width: 100%;
        padding: 10% 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 991) {
    header .header-text h1 {
        font-size: 58px;
    }
}
/* end header */

/* sections sections */

.sections .sectionitem {
    margin: 10px 10px !important;
    text-align: center;
    position: relative;
}

.sections .sectionitem img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.sectionitem h5 {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 45px;
    font-size: 20px;
    color: wheat;
}

.sectionitem:hover h5 {
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.sectionitem:hover .rounded-pill {
    height: 40px;
    margin-left: 14%;
    margin-top: 20%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}

.sectionitem .parts-overLay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
}

.sectionitem:hover .parts-overLay {
    background-color: #000;
    opacity: .8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width:768px) {
    #sections img {
        height: 50%;
        width: 50%;
    }
}

/* end sections */

/* start recently added  */
.add-cart {
    overflow: hidden;
}

.add-to-cart {
    background-color: #101010f5;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.add-cart span,
.add-cart i {
    color: white;

}

.cart {
    background-color: #101010;
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    padding: 12px 1px;
    border-left: 0.1px solid #777;
    transition: 0.5s;
}

.fa-regular {
    padding-top: 0%;
}

/* end recently added */

/* start popular */

.items img {
    height: 300px;
}

.items p,
.items button {
    margin: 3px 0 !important;
}

.items span i {
    color: #F2A80B;
}

/* end popular */

/* logIn page */
#login .card {
    opacity: 0.8;
    margin-top: 100px;
}

#login .float-right {
    float: right;
}

#login .login .row {
    margin: auto;
}

@media (max-width: 992px) {
    .login .card {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .login .card {
        width: 50%;
        margin: 100px auto;
    }
}

@media (max-width: 376px) {
    .navbar .navbar-brand {
        width: 50%;
    }
}

/* end login */

/* start sale */

#sale .nav-link {
    background-color: transparent;
    color: #302f2f;
    font-weight: 700;
    border: 1px solid #302f2f;
    font-family: 'Tajawal', sans-serif;
    border-radius: 10px;
    padding: 5px 5px;
}

#sale .nav-link:hover {
    background-color: #302f2f;
    color: #f2e7c4;
    text-decoration: none;
}

#sale .nav-link .active {
    background-color: #302f2f;
    color: #f2e7c4;
    text-decoration: none;
}


/* end sale */

/* start footer */

#footer .facebook:hover i {
    color: #0674E8;
}

#footer .facebook:hover i {
    color: #0674E8;
}

#footer .twitter:hover i {
    color: #1D9BF0;
}

#footer .google:hover i {
    color: #D54836;
}

#footer .linkedin:hover i {
    color: #0C61BF;
}

#footer .youtube:hover i {
    color: #FF4E4E;
}

footer .col-md-3 li:hover a,
footer .col-md-3 li:hover i {
    color: #b48250;
}

/* end footer */